{% extends 'board/base.html'%}
{% load staticfiles %}

{% block title %}
<title>Board:List</title>
{% endblock %}

{% block css %}
{% endblock %}

{% block javascript %}
<script>
    var totalData = 1000 // 총 데이터 수
    var dataPerPage = 10 // 한 페이지에 나타낼 데이터 수
    var pageCount = 10 // 한 화면에 나타낼 페이지 수

    function paging(totalData, dataPerPage, pageCount, currentPage) {
        var totalPage = Math.ceil(totalData / dataPerPage);    // 총 페이지 수
 
        var pageGroup = Math.ceil(currentPage / pageCount);    // 페이지 그룹

        var last = pageGroup * pageCount;    // 화면에 보여질 마지막 페이지 번호
        if (last > totalPage)
            last = totalPage;
        var first = last - (pageCount - 1);    // 화면에 보여질 첫번째 페이지 번호
        if (first < 0)
            first = 1;
        var next = last + 1;
        var prev = first - 1;

        var html = "";

        if (prev > 0)
            html += "<a href=# id='prev'><</a> ";

        for (var i = first; i <= last; i++) {
            html += "<a href='#' id=" + i + ">" + i + "</a> ";
        }

        if (last < totalPage)
            html += "<a href=# id='next'>></a>";

        $("#Paging").html(html);    // 페이지 목록 생성
        $("#Paging a").css("color", "black");
        $("#Paging a#" + currentPage).css({
            "text-decoration": "none",
            "color": "red",
            "font-weight": "bold"
        });    // 현재 페이지 표시

        $("#Paging a").click(function () {

            var $item = $(this);
            var $id = $item.attr("id");
            var selectedPage = $item.text();

            if ($id == "next") selectedPage = next;
            if ($id == "prev") selectedPage = prev;

            displayBoardList(selectedPage)
            paging(totalData, dataPerPage, pageCount, selectedPage);
        });

    }
    function addboardItem(item) {
        var boardItem = "<tr>"
        for (key in item) {
            if (key == 'url') {
                continue;
            }
            else if (key == 'name') {
                boardItem += "<td>" + item[key]['username'] + "</td>";
                continue;
            }
            boardItem += "<td>" + item[key] + "</td>";
        }
        boardItem += "</tr>"
        return boardItem;
    }
    function displayBoardList(pageIdx) {
        // ajax통신
        $.ajax({
            type: "GET",
            url: "/api/postings/?page=" + pageIdx,
            async: false,
            success:
                function (data) {
                    $("#BoardList *").remove() // BoardList 빈화면으로
                    var postings = data['results'];
                    var i = 0
                    for (i; i<postings.length; i++) {
                        $('#BoardList').append(addboardItem(postings[i]))
                    }
                    totalData=data['count']                   
                },
        })

    }
    $(document).ready(function () {
        displayBoardList(1)
        paging(totalData, dataPerPage, pageCount,1)
    })
</script>
{% endblock %}

{% block body %}
<div class="body">
    <h1 style="text-align: center;">Django Board</h1>

    <div id="BoardListCtrl">
        <table>
            <tr>
                <th style="width:50px">title</th>
                <th style="width:100px">writer</th>
                <th style="width:100px">regdt</th>
                </tr>
            </table>
        <table id='BoardList' class="table table-bordered">
            <!-- table 내용이 들어옴 -->
        </table>
    </div>

    <div id = 'Paging'>
        <!-- 페이징 처리 -->
    </div>

</div>
{% endblock %}

{% block footer %}

{% endblock %}